.lecture {
  margin-top: 0;
  padding: 100px 0 100px 0;
  background-image: url('../assets/banner-bg2.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}
.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}
.react-player {
  position: absolute;
  top: 20%;
  left: 15%;
  overflow: hidden;
}
.react-player-thumbnail {
  display: none !important;
}
