/* Add styles for the main container */
.question {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  /* Add styles for the NavBar */
  /* Assuming you have the NavBar component properly set up */
  /* If you need custom styles, you can add them here */
  /* For example, you can set the background color, font size, etc. */
  
  /* Add styles for the score section */
  .score-section {
    text-align: center;
    margin-top: 20px;
  }
  
  /* Add styles for the question section */
  .question-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .question-count {
    margin-bottom: 10px;
  }
  
  /* Add styles for the Clock component */
  /* Assuming the Clock component is properly set up and styled */
  /* If you need custom styles, you can add them here */
  /* For example, you can set the font size, color, etc. */
  
  /* Add styles for the answer section */
  .answer-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .answer-section button{
    color: #80e22ba7;
    font-weight: 700;
    font-size: 30px;
    margin-top: 10px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
  }
  
  /* Add styles for the answer buttons */
  
  /* Assuming the Chakra UI Button component is properly set up and styled */
  /* If you need custom styles, you can add them here */
  /* For example, you can set the width, font size, background color, etc. */
  
  /* Custom styles for the question count and title */
  .question-count span {
    font-size: 18px;
    font-weight: bold;
  }
  
  .question-count h1 {
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  
  /* Styles for the score and result text in the score section */
  h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  span {
    font-size: 20px;
  }
  